*{
    font-family: "Quantico", sans-serif;
}

.backbutton{
    margin-left: 1rem;
    margin-top: 1rem;
}

.intro-clubes{
    display: flex;
    justify-content: space-evenly;
}

.team-intro{
    text-align: center;
}

.data{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.info{
    font-size: 2.5rem;
}

.btn-jugar{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #ddb504;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-match-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.score-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    width: 30%;
    /*border: 2px solid rgb(77, 76, 76);*/
    margin: auto;
}

.score-inner {
    width: 60%;
    text-align: center;
}

.score-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

.score-item {
    display: flex;
    margin-bottom: 5px;
    animation: fadeIn 0.5s ease;
}

.score-item.left {
    justify-content: flex-start;
}

.score-item.right {
    justify-content: flex-end;
}

.score-text {
    padding: 5px 10px;
    background-color: #111111ff;
    border-radius: 5px;
    border: 2px solid #464444ff;
    max-width: 70%;
    word-wrap: break-word;
}

.score-text.align-left {
    text-align: left;
}

.score-text.align-right {
    text-align: right;
}

.score-text.special {
    color: green;
    font-weight: bold;
}

.match-header {
    margin-top: 20px;
}

.team-select {
    margin-top: 20px;
}

.special-chances {
    margin-top: 10px;
    margin-left: 4vw;
    /* border: 2px solid #111111ff; */
}

.special-chances-input{
    width: 4.5vw;
    text-align: center;
    margin-left: 1vw;
}

.escudo-grande {
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.escuditos{
    display: flex;
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
}

/* Animación fadeIn */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
